<script>
    function saveReport() {
        $.ajax({
            url: "/sys/role/save",
            type: "POST",
            data: $("#formLogin").serialize(),
            dataType: "json",
            success: function (result) {
                if (result.message == 'SUCCESS') {
                    loadMenu("/sys/role/index", "角色管理")
                }
            }
        })
    }

    function goBack() {
        loadMenu("/sys/role/index", "角色管理")
    }
</script>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-body">
                    <form id="formLogin" class="form-horizontal js-ajax-form" action="/sys/menu/save" method="post">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="padding-right: 0px">角色名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" id="name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label" style="padding-right: 0px">角色描述</label>
                            <div class="col-sm-10">
                                <input type="text" name="description" class="form-control" id="description"/>
                            </div>
                        </div>
                    </form>
                    <div class="form-group" style="margin-left:100px;">
                        <button type="button" onclick="saveReport()" class="btn btn-default js-ajax-submit">提交</button>
                        <button type="button" onclick="goBack()" class="btn btn-default js-ajax-submit">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>