<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>亿达管理平台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/assets/bootstrap-3.4.1/css/bootstrap.min.css"
          th:href="@{/static/assets/bootstrap-3.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/static/assets/bootstrap-treeview-1.2.0/css/bootstrap-treeview.css"
          th:href="@{/static/assets/bootstrap-treeview-1.2.0/css/bootstrap-treeview.css}"/>
    <link rel="stylesheet" href="/static/assets/adminlte-2.4.12/css/AdminLTE.min.css"
          th:href="@{/static/assets/adminlte-2.4.12/css/AdminLTE.min.css}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <button type="button" th:attr="data-id=${roleId}" class="btn btn-primary">保存</button>
                </div>
                <div class="box-body">
                    <div id="menuTree"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/static/assets/jquery/jquery-3.4.1.min.js" th:href="@{/static/assets/jquery/jquery-3.4.1.min.js}"></script>
<script src="/static/assets/bootstrap-3.4.1/js/bootstrap.min.js"
        th:href="@{/static/assets/bootstrap-3.4.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/static/js/treeview.js" th:src="@{/static/js/treeview.js}"></script>
<script type="text/javascript" src="/static/assets/bootstrap-treeview-1.2.0/js/bootstrap-treeview.min.js"
        th:src="@{/static/assets/bootstrap-treeview-1.2.0/js/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" src="/static/assets/layer-3.0.1/layer.js"
        th:src="@{/static/assets/layer-3.0.1/layer.js}"></script>
<script type="text/javascript">
    (function () {
        getMenuTree();
        $("button.btn-primary").on('click', function () {
            var _roleId = $(this).data('id');
            var checkNodes = $('ul.list-group>li.node-checked').map(function () {
                return $('#menuTree').treeview('getNode', [$(this).data('nodeid')]).id;
            }).get().join(",");
            console.log('menuIds = ',checkNodes)
            $.post('saveRoleMenu', {roleId: _roleId, menuIds: checkNodes}, function (data) {
                if (data.message == 'SUCCESS') {
                    layer.msg('保存成功', {icon: 1}, function () {
                        layerModel.closeParent();
                    });
                } else {
                    layer.msg("保存失败");
                }
            })
        });

    })();

    function getMenuTree() {
        var _roleId = $("button.btn-primary").data('id');
        $.getJSON('roleMenuTree', {id: _roleId}, function (data) {
            $('#menuTree').treeview({
                data: data.data,
                showIcon: false,
                highlightSelected: false,
                showCheckbox: true,
                onNodeChecked: nodeChecked,
                onNodeUnchecked: nodeUnchecked
            });

            $('#menuTree').treeview('expandAll', {levels: 2, silent: true});
        })
    }

    var layerModel = (function () {
        return {
            closeParent: function () {
                var current = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(current);
            }
        }
    })();
</script>
</body>
</html>