<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a onclick="addRole()" style="cursor:pointer;" class="btn btn-primary">添加角色</a>
</div>

<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        $table.bootstrapTable({
            height: tableModel.getHeight(),
            idField: "id",
            columns: [
                [{title: "角色名称", field: "name"},
                    {title: "角色描述", field: "description"},
                    {title: "创建时间", field: "createdTime"},
                    {title: "更新时间", field: "updatedTime"},
                    {
                        title: "操作",
                        field: "operate",
                        align: 'center',
                        events: operateEvents,
                        formatter: operateFormatter
                    }]
            ],
            url: '/sys/role/list',
            queryParams: function (params) {
                var param = {}
                param = {
                    'pageIndex': params.offset,
                    'pageSize': params.limit
                }
                return param;
            },
            responseHandler: function (res) {
                return {
                    rows: res.list,
                    total: res.totalSize
                }
            },
            pagination: true,
            sidePagination: 'server',
            pageSize: 10,
            pageList: [20, 40, 50, 100],
            toolbar: "#toolbar",
            showRefresh: true,
            showToggle: true
        });
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="grant" href="javascript:void(0);" >',
            '<i class="glyphicon glyphicon-edit"></i>授权',
            '</a>  ',
            '<a onclick="editRole(' + row.id + ')" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  ',
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            Modal.confirm({
                title: '提示',
                msg: '您确定要删除吗?',
            }).on(function (e) {
                $.ajax({
                    url: "/sys/role/remove",
                    type: "post",
                    data: {
                        'id': row.id
                    },
                    success: function (data) {
                        if (data.message == 'SUCCESS') {
                            loadMenu('/sys/role/index', '角色管理')
                        }
                    }
                })
            });
        },
        'click .grant': function (e, value, row, index) {
            layer.open({
                type: 2,
                title: '角色授权',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['500px', '600px'],
                content: '/sys/permission/rolePerms?roleId=' + row.id
            });
        }
    };

    var tableModel = (function () {
        return {
            getHeight: function () {
                return $(window).height() - $('.content-header').outerHeight(true);
            },
            getState: function (value, row, index) {
                return value == 1 ? "启用" : "禁用";
            }
        }
    })();

    function addRole() {
        loadMenu("/sys/role/add", "添加角色");
    }

    function editRole(id) {
        loadMenu("/sys/role/edit?id=" + id, "修改角色");
    }

</script>