<script>
    function saveReport() {
        $.ajax({
            url: "/sys/user/update",
            type: "POST",
            data: $("#formLogin").serialize(),
            dataType: "json",
            success: function (result) {
                if (result.message == 'SUCCESS') {
                    loadMenu("/sys/user/index", "用户管理")
                } else {
                    layer.msg(result.msg, {icon: 2})
                }
            }
        })
    }

    function goBack() {
        loadMenu("/sys/user/index", "用户管理")
    }
</script>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-body">
                    <form id="formLogin" class="form-horizontal js-ajax-form" action="/sys/menu/save" method="post">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="padding-right: 0px">用户名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="nickName" th:value="${user.nickName}" class="form-control"
                                       id="nickName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label" style="padding-right: 0px">用户邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" name="email" th:value="${user.email}" class="form-control"
                                       id="email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label" style="padding-right: 0px">密码</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" th:value="${user.password}" class="form-control"
                                       id="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salt" class="col-sm-2 control-label" style="padding-right: 0px">密码盐</label>
                            <div class="col-sm-10">
                                <input type="password" name="salt" class="form-control" th:value="${user.salt}"
                                       id="salt" maxlength="6"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-10">
                                <select name="state" class="form-control" id="status">
                                    <option th:selected="${#strings.equals(user.status, 1)}" value="1">正常</option>
                                    <option th:selected="${#strings.equals(user.status, 0)}" value="0">禁用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">角色</label>
                            <div class="col-sm-10">
                                <label class="checkbox-inline" th:each="role:${roleLists}">
                                    <input type="checkbox" name="roleId"
                                           th:checked="${#strings.contains(checkRoleId, role.id)}" th:value="${role.id}"
                                           th:text="${role.name}"/>
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="form-group" style="margin-left:100px;">
                        <button type="button" onclick="saveReport()" class="btn btn-default js-ajax-submit">提交</button>
                        <button type="button" onclick="goBack()" class="btn btn-default js-ajax-submit">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>