<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a onclick="addUser()" style="cursor:pointer;" class="btn btn-primary">添加用户</a>
</div>

<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        $table.bootstrapTable({
            height: tableModel.getHeight(),
            idField: "id",
            columns: [
                [{title: "用户昵称", field: "nickName"},
                    {title: "角色名称", field: "roleName"},
                    {title: "邮箱", field: "email"},
                    {title: "状态", field: "status"},
                    {title: "最后登录时间", field: "lastLoginTime"},
                    {title: "创建时间", field: "createdTime"},
                    {title: "更新时间", field: "updatedTime"},
                    {
                        title: "操作",
                        field: "operate",
                        align: 'center',
                        events: operateEvents,
                        formatter: operateFormatter
                    }]
            ],
            url: '/sys/user/list',
            queryParams: function (params) {
                var param = {}
                param = {
                    'pageIndex': params.offset,
                    'pageSize': params.limit
                }
                return param;
            },
            responseHandler: function (res) {
                return {
                    rows: res.list,
                    total: res.totalSize
                }
            },
            pagination: true,
            sidePagination: 'server',
            pageSize: 10,
            pageList: [20, 40, 50, 100],
            toolbar: "#toolbar",
            showRefresh: true,
            showToggle: true
        });
    }

    function operateFormatter(value, row, index) {
        return [
            '<a onclick="editUser(' + row.uid + ')" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  ',
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            console.log(row.uid)
            Modal.confirm({
                title: '提示',
                msg: '您确定要删除吗?',
            }).on(function (e) {
                $.ajax({
                    url: "/sys/user/remove",
                    type: "post",
                    data: {
                        'id': row.uid
                    },
                    success: function (data) {
                        if (data.message == 'SUCCESS') {
                            loadMenu('/sys/user/index', '角色管理')
                        }
                    }
                })
            });
        }
    };

    var tableModel = (function () {
        return {
            getHeight: function () {
                return $(window).height() - $('.content-header').outerHeight(true);
            },
            getState: function (value, row, index) {
                return value == 1 ? "启用" : "禁用";
            }
        }
    })();

    function addUser() {
        loadMenu("/sys/user/add", "添加用户");
    }

    function editUser(id) {
        loadMenu("/sys/user/edit?id=" + id, "修改用户");
    }

</script>