<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>亿达管理平台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="/static/css/app.css" th:href="@{/static/css/app.css}"/>
    <link rel="stylesheet" href="/static/assets/bootstrap-3.4.1/css/bootstrap.min.css"
          th:href="@{/static/assets/bootstrap-3.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/static/assets/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/static/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="/static/assets/ionicons-2.0.0/css/ionicons.min.css"
          th:href="@{/static/assets/ionicons-2.0.0/css/ionicons.min.css}">
    <link rel="stylesheet" href="/static/assets/adminlte-2.4.12/css/AdminLTE.min.css"
          th:href="@{/static/assets/adminlte-2.4.12/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="/static/assets/adminlte-2.4.12/css/skins/skin-blue.min.css"
          th:href="@{/static/assets/adminlte-2.4.12/css/skins/skin-blue.min.css}">
    <link rel="stylesheet" href="/static/assets/jquery-treegrid-0.2.0/css/jquery.treegrid.css"
          th:href="@{/static/assets/jquery-treegrid-0.2.0/css/jquery.treegrid.css}"/>
    <link rel="stylesheet" href="/static/assets/bootstrap-table-1.11.1/css/bootstrap-table.css"
          th:href="@{/static/assets/bootstrap-table-1.11.1/css/bootstrap-table.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-lg"><b>亿达</b>管理平台</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
<!--                    <li class="dropdown messages-menu">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                            <i class="fa fa-envelope-o"></i>-->
<!--                            <span class="label label-success">4</span>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li class="header">你有4封邮件</li>-->
<!--                            <li>-->
<!--                                <ul class="menu">-->
<!--                                    <li>-->
<!--                                        <a href="#">-->
<!--                                            <div class="pull-left">-->
<!--                                                <img src="../static/img/user2-160x160.jpg" class="img-circle"-->
<!--                                                     alt="User Image">-->
<!--                                            </div>-->
<!--                                            <h4>-->
<!--                                                标题-->
<!--                                                <small><i class="fa fa-clock-o"></i> 5 分钟前</small>-->
<!--                                            </h4>-->
<!--                                            <p>为什么不买一个新的给我?</p>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="footer"><a href="#">查看所有信息</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li class="dropdown notifications-menu">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                            <i class="fa fa-bell-o"></i>-->
<!--                            <span class="label label-warning">10</span>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li class="header">你有10条通知</li>-->
<!--                            <li>-->
<!--                                <ul class="menu">-->
<!--                                    <li>-->
<!--                                        <a href="#">-->
<!--                                            <i class="fa fa-users text-aqua"></i>-->
<!--                                            今天有5个新的员工加入-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="footer"><a href="#">显示所有</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="dropdown tasks-menu">-->
<!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                            <i class="fa fa-flag-o"></i>-->
<!--                            <span class="label label-danger">9</span>-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li class="header">你有9个任务</li>-->
<!--                            <li>-->
<!--                                <ul class="menu">-->
<!--                                    <li>-->
<!--                                        <a href="#">-->
<!--                                            <h3>-->
<!--                                                设计一些按钮-->
<!--                                                <small class="pull-right">20%</small>-->
<!--                                            </h3>-->
<!--                                            <div class="progress xs">-->
<!--                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"-->
<!--                                                     role="progressbar"-->
<!--                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">-->
<!--                                                    <span class="sr-only">20% 完成</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li class="footer">-->
<!--                                <a href="#">显示所有</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../static/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs" th:text="${user.nickName}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="../static/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                <p>
                                    Alexander Pierce - Web Developer
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <li class="user-body">
<!--                                <div class="row">-->
<!--                                    <div class="col-xs-4 text-center">-->
<!--                                        <a href="#">Followers</a>-->
<!--                                    </div>-->
<!--                                    <div class="col-xs-4 text-center">-->
<!--                                        <a href="#">Sales</a>-->
<!--                                    </div>-->
<!--                                    <div class="col-xs-4 text-center">-->
<!--                                        <a href="#">Friends</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a class="btn btn-default btn-flat" href="/logout">退出</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- 菜单树壳子 -->
    <aside id="leftMenuTree" class="main-sidebar">
        <section class="sidebar">
<!--            <form action="#" method="get" class="sidebar-form">-->
<!--                <div class="input-group">-->
<!--                    <input type="text" name="q" class="form-control" placeholder="Search...">-->
<!--                    <span class="input-group-btn">-->
<!--              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>-->
<!--              </button>-->
<!--            </span>-->
<!--                </div>-->
<!--            </form>-->

            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">菜单</li>

                <li class="treeview" onclick="clickMenu(this)" name="menuTree" th:each="menu:${menuList}">
                    <a style="cursor:pointer;" th:id="${menu.url}" th:name="${menu.name}">
                        <i class="fa fa-link"></i>
                        <span th:text="${menu.name}"></span>
                        <span class="pull-right-container" th:if="${menu.children.size() > 0}">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li th:each="child:${menu.children}" name="childNodeLi" onclick="clickChildMenu(this)">
                            <a style="cursor:pointer;" th:id="${child.url}" th:name="${child.name}" target="mainFrame">
                                <i class="fa fa-circle-o"></i>
                                <span th:text="${child.name}"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <small id="modelTitle">首页</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section id="main" class="content container-fluid">

            | 欢迎使用 |

        </section>
    </div>

    <footer class="main-footer">
<!--        <div class="pull-right hidden-xs">-->
<!--            Anything you want-->
<!--        </div>-->
<!--        <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.-->
    </footer>

    <div class="control-sidebar-bg"></div>
</div>
<script src="/static/assets/jquery/jquery-3.4.1.min.js" th:href="@{/static/assets/jquery/jquery-3.4.1.min.js}"></script>
<script src="/static/assets/bootstrap-3.4.1/js/bootstrap.min.js"
        th:href="@{/static/assets/bootstrap-3.4.1/js/bootstrap.min.js}"></script>
<script src="/static/js/bootstrap-modal.js"
        th:href="@{/static/js/bootstrap-modal.js}"></script>
<script src="/static/assets/adminlte-2.4.12/js/adminlte.min.js"
        th:href="@{/static/assets/adminlte-2.4.12/js/adminlte.min.js}"></script>
<script type="text/javascript" src="/static/assets/jquery-treegrid-0.2.0/js/jquery.treegrid.min.js"
        th:src="@{/static/assets/jquery-treegrid-0.2.0/js/jquery.treegrid.min.js}"></script>
<script type="text/javascript" src="/static/assets/bootstrap-table-1.11.1/js/bootstrap-table.min.js"
        th:src="@{/static/assets/bootstrap-table-1.11.1/js/bootstrap-table.min.js}"></script>
<script type="text/javascript" src="/static/assets/bootstrap-table-1.11.1/js/bootstrap-table-zh-CN.min.js"
        th:src="@{/static/assets/bootstrap-table-1.11.1/js/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" src="/static/assets/layer-3.0.1/layer.js"
        th:src="@{/static/assets/layer-3.0.1/layer.js}"></script>
<script type="text/javascript" src="/static/js/treeview.js" th:src="@{/static/js/treeview.js}"></script>
<script>

    // 点击菜单栏,重设class 为了选中后左侧有蓝色条状样式
    function clickMenu(e) {
        var nodes = document.getElementsByName("menuTree");
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].classList.remove("active")
        }
        e.classList.add("active");
        var url = e.childNodes[1].id; // 获取menu树上 a 标签 上的id,此id存储的是可访问的url
        if (url == '') {
            return;
        }
        loadMenu(url, e.childNodes[1].name)
    }

    // 点击菜单栏,重设class 为了选中后左侧有蓝色条状样式
    function clickChildMenu(e) {
        var nodes = document.getElementsByName("childNodeLi");
        for (var i = 0; i < nodes.length; i++) {
            nodes[i].classList.remove("active")
        }
        e.classList.add("active");
        var url = e.childNodes[1].id; // 获取menu树上 a 标签 上的id,此id存储的是可访问的url
        if (url == '') {
            return;
        }
        loadMenu(url, e.childNodes[1].name)
    }

    function loadMenu(url, text) {
        $("#modelTitle").text(text)
        $.ajax({
            url: url,
            dataType: "html",
            success: function (html) {
                $("#main").html(html)
            }
        })
    }
</script>
</body>
</html>