<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>亿达管理平台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/assets/bootstrap-3.4.1/css/bootstrap.min.css"
          th:href="@{/static/assets/bootstrap-3.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/static/assets/font-awesome-4.7.0/css/font-awesome.min.css"
          th:href="@{/static/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="/static/assets/ionicons-2.0.0/css/ionicons.min.css"
          th:href="@{/static/assets/ionicons-2.0.0/css/ionicons.min.css}">
    <link rel="stylesheet" href="/static/assets/adminlte-2.4.12/css/AdminLTE.min.css"
          th:href="@{/static/assets/adminlte-2.4.12/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="/static/assets/iCheck/square/blue.css"
          th:href="@{/static/assets/iCheck/square/blue.css}">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>亿达</b>管理平台</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">请在下方输入账号密码</p>

        <form action="/auth" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="username" placeholder="AccountNo">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/assets/jquery/jquery-3.4.1.min.js" th:href="@{/static/assets/jquery/jquery-3.4.1.min.js}"></script>
<script src="/static/assets/bootstrap-3.4.1/js/bootstrap.min.js"
        th:href="@{/static/assets/bootstrap-3.4.1/js/bootstrap.min.js}"></script>
<!-- iCheck -->
<script src="/static/assets/iCheck/icheck.min.js" th:href="@{/static/assets/iCheck/icheck.min.js}"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>
</body>
</html>