<script>
    function update() {
        $.ajax({
            url: "/sys/menu/update",
            type: "POST",
            data: $("#formLogin").serialize(),
            dataType: "json",
            success: function (result) {
                if (result.message == 'SUCCESS') {
                    loadMenu("/sys/menu/index", "菜单管理")
                }
            }
        })
    }

    function goBack() {
        loadMenu("/sys/menu/index", "菜单管理")
    }
</script>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-body">
                    <form id="formLogin" class="form-horizontal js-ajax-form" action="/sys/menu/save" method="post">
                        <input type="hidden" name="createdTime" th:value="${menu.createdTime}"/>
                        <input type="hidden" name="id" th:value="${menu.id}"/>
                        <input type="hidden" name="parentId" th:value="${parentId}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="padding-right: 0px">资源类型</label>
                            <div class="col-sm-10">
                                <select name="type" class="form-control">
                                    <option value="menu" th:selected="${#strings.equals(menu.type,'menu')}">菜单</option>
                                    <option value="auth" th:selected="${#strings.equals(menu.type,'list')}">列表</option>
                                    <option value="button" th:selected="${#strings.equals(menu.type,'button')}">按钮
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label" style="padding-right: 0px">资源名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" id="name" th:value="${menu.name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="code" class="col-sm-2 control-label" style="padding-right: 0px">权限标识</label>
                            <div class="col-sm-10">
                                <input type="text" name="code" class="form-control" id="code" th:value="${menu.code}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url" class="col-sm-2 control-label" style="padding-right: 0px">资源URL</label>
                            <div class="col-sm-10">
                                <input type="text" name="url" class="form-control" id="url" th:value="${menu.url}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="seq" class="col-sm-2 control-label" style="padding-right: 0px">排序SEQ</label>
                            <div class="col-sm-10">
                                <input type="text" name="seq" class="form-control" id="seq" th:value="${menu.seq}"/>
                            </div>
                        </div>
                    </form>
                    <div class="form-group" style="margin-left:100px;">
                        <button type="button" onclick="update()" class="btn btn-default js-ajax-submit">提交</button>
                        <button type="button" onclick="goBack()" class="btn btn-default js-ajax-submit">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>