<section class="content table-content">
    <a class="btn btn-primary" onclick="addMenu()">添加资源</a>
    <table class="table table-bordered" id="dataGrid">
        <tr>
            <th>菜单名称</th>
            <th>权限标识</th>
            <th>菜单URL</th>
            <th>菜单类型</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        <tr th:id="${menu.id}" th:each="menu,menuStat:${list}"
            th:class="${#strings.equals(menu.parentId,'0')?'treegrid-'+menu.id : 'treegrid-'+menu.id+' treegrid-parent-'+menu.parentId} ">
            <td th:text="${menu.name}"></td>
            <td th:text="${menu.code}"></td>
            <td th:text="${menu.url}"></td>
            <td th:text="${menu.type}"></td>
            <td th:text="${menu.seq}"></td>
            <td>
                <a onclick="addChildMenu(this)" style="cursor:pointer;" th:name="${menu.id}"><i
                        class="glyphicon glyphicon-add"></i>添加子菜单
                </a>
                <a onclick="editMenu(this)" style="cursor:pointer;" th:name="${menu.id}"><i
                        class="glyphicon glyphicon-edit"></i>修改
                </a>
                <a onclick="removeMenu(this)" style="cursor:pointer;" th:name="${menu.id}"><i
                        class="glyphicon glyphicon-remove"></i>删除
                </a>
            </td>
        </tr>
    </table>
</section>

<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        $(".table").treegrid({
            expanderExpandedClass: 'glyphicon glyphicon-minus',
            expanderCollapsedClass: 'glyphicon glyphicon-plus'
        });
        //更新排序
        $("input[name=listorder]").on('keyup', function () {
            var _id = $(this).data('id')
            var _listorder = $(this).val();
            if (!isNaN(_listorder)) {
                $.post('listorder', {
                    id: _id,
                    listorder: _listorder
                }, function (ret) {
                    if (ret.status == 1) {
                        window.location.reload();
                    }
                });
            }
        });
        //删除处理
        $(".remove").on('click', function () {
            var _this = $(this);
            layer.confirm('确定删除吗?', function () {
                $.getJSON('delete', {ids: _this.data('id')}, function (ret) {
                    if (ret.status) {
                        layer.msg(ret.msg, {icon: 1}, function () {
                            $('#' + _this.data('id')).hide();
                        });
                    } else {
                        layer.msg(ret.msg, {icon: 2});
                    }
                });
            });
        })
    });

    function editMenu(e) {
        loadMenu("/sys/menu/edit?id=" + e.name, "修改资源")
    }

    function addMenu() {
        loadMenu("/sys/menu/add?parentId=0", "添加资源")
    }

    function addChildMenu(e) {
        loadMenu("/sys/menu/add?parentId=" + e.name, "添加子菜单")
    }

    function removeMenu(e) {
        Modal.confirm({
            title: '提示',
            msg: '您确定要删除吗?',
        }).on(function (e) {
            $.ajax({
                url: "/sys/menu/remove",
                type: "post",
                data: {
                    'id': e.name
                },
                success: function (data) {
                    if (data.message == 'SUCCESS') {
                        loadMenu("/sys/menu/index", "菜单管理")
                    }
                }
            })
        });
    }

    function getState(value) {
        if (value == "menu") {
            return "菜单";
        } else if (value == "list") {
            return "列表"
        } else {
            return "按钮"
        }
    }
</script>